<h1>Menu</h1>
<nav>
  <a routerLink="/listagem-usuarios" routerLinkActive="active" ariaCurrentWhenActive="page">Listagem de usuários</a>
  <a routerLink="/criar-usuario" routerLinkActive="active" ariaCurrentWhenActive="page">Criar usuário</a>
  <a routerLink="/buscar-usuario" routerLinkActive="active" ariaCurrentWhenActive="page">Buscar usuários</a>
  <a routerLink="/atualizar-usuario" routerLinkActive="active" ariaCurrentWhenActive="page">Atualizar usuário</a>
</nav>
<router-outlet></router-outlet>

